// Colors
//Primary
$pink:hsl(322, 100%, 66%);  
$lightPink:hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);

//Neutral
$darkCyan : hsl(192, 100%, 9%);
$paleBlue: hsl(207, 100%, 98%);
$white: #fff;


// Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//Typography 
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Poppins', sans-serif;